<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>projets2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>com.lot3.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatalogueIns</servlet-name>
    <servlet-class>com.lot3.CatalogueIns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogueIns</servlet-name>
    <url-pattern>/institutions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.lot3.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.lot3.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfil</servlet-name>
    <servlet-class>com.lot3.UserProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signin</servlet-name>
    <servlet-class>com.lot3.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandePermis</servlet-name>
    <servlet-class>com.lot3.admin.DemPermis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandePermis</servlet-name>
    <url-pattern>/admin/DP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandeInscription</servlet-name>
    <servlet-class>com.lot3.admin.DemInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeInscription</servlet-name>
    <url-pattern>/admin/DI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComptesChercheurs</servlet-name>
    <servlet-class>com.lot3.admin.ComptesChercheurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComptesChercheurs</servlet-name>
    <url-pattern>/admin/CC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComptesAdmins</servlet-name>
    <servlet-class>com.lot3.admin.ComptesAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComptesAdmins</servlet-name>
    <url-pattern>/admin/CA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Institution</servlet-name>
    <servlet-class>com.lot3.admin.institution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Institution</servlet-name>
    <url-pattern>/admin/Ins</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProfil</servlet-name>
    <servlet-class>com.lot3.admin.AdminProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfil</servlet-name>
    <url-pattern>/admin/profil</url-pattern>
  </servlet-mapping>
   <filter>
	<filter-name>adminFilter</filter-name>
	<filter-class>com.filter.ConnectionAdminFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>adminFilter</filter-name>
	<url-pattern>/admin/*</url-pattern>
</filter-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>