body{
    zoom: 80%;
}
ol, ul, li, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

ol, ul {
    list-style: none;
}


/* nav bar css*/
.nav-searchbar:focus{
    border: 2px solid #2dd393;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
 }
.search-icon{
    color: #fff;
    background-color: #2dd393;
    border-radius: 0 15px 15px 0;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 15px 10px 15px 10px;
    margin-left: -3px
}
.my-btn-outline{
    color:#2dd393;
    border-color: #2dd393;
}
.my-btn-outline:hover, .my-btn-outline:focus, .my-btn-outline:active, .my-btn-outline.active, .open .dropdown-toggle.my-btn-outline {
    background-color: #2dd393;
    color:#FFF;
    border-color: #2dd393;
}
.my-btn{
    background-color: #2dd393;
    color:#FFF;
    border-color: #2dd393;
} 
.my-btn:hover, .my-btn:focus, .my-btn:active, .my-btn.active, .open .dropdown-toggle.my-btn {
    background-color: #198159;
    color:#FFF;
    border-color: #1ea772;
}
.my-sec-text{
    color: #2dd393
}
/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
  }
  .cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
  }
  .cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
  }
  .cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
  }
  .cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #c2c2c2;
    color: #fff;
    font-size: 20px;
  }
  .cd-user-modal-container .cd-switcher a.selected {
    background: #2dd393;
    color: #fff;
  }
  /* modal*/
  .cd-form {
    padding: 1.4em;
  }
  .cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .cd-form input.full-width {
    width: 100%;
  }
  .cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
  }
  .cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .cd-form input.has-border:focus {
    border-color: #2dd393;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .cd-form input.has-error {
    border: 1px solid #d76666;
  }
  .cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
  }
  
  .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
  }
  .cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
  }
  .cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
  }
  .cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  }
  .cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
  }
  #cd-login, #cd-signup, #cd-reset-password {
    display: none;
  }
  
  #cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
  }

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}



/* Devider css */
.devider{
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-width: thin;
}
/* Contact us css */
.contact-us{
    background-color: #43425d;
    background-repeat: no-repeat;
    color: #fff;

}
/* Banner css*/
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.my-link{
    color: white;
    text-decoration: none;
}
.my-link:hover{
    color: white;
    text-decoration: none;
}

.place-icon{
    color: rgb(163, 163, 163);
}
.send-btn{
    margin-left: -45px;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Emplacement  */
.carousel {
    width: 100%;
}  
.slide-box {
    display: flex;
    justify-content: space-between;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    margin-right: -180%;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  margin-left: -180%;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .nav-searchbar{
        width: 50%;
    }
    .banner-overlay {
        padding-top: 360px; /*312*/
        padding-bottom:15px; /*30*/
    }
    .help{
        padding-top: 100px;
        padding-bottom: 160px;
    }
    .newsletter{
        padding-top: 100px
    }
    .carousel {
        width: 45%;
    }

} 
@media only screen and (min-width: 600px) {
    .banner-overlay {
        padding-top: 360px; /*312*/
        padding-bottom:15px; /*30*/
    }
    .help{
        padding-top: 100px;
        padding-bottom: 160px;
    }
    .newsletter{
        padding-top: 100px
    }
    /*modal*/
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
    .cd-form-message {
        padding: 2em 2em 0;
    }
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
       margin: 2em 0;
    }
      .cd-form .fieldset:first-child {
        margin-top: 0;
    }
      .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
      .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
      .cd-form input[type=submit] {
        padding: 16px 0;
    }
}
@media only screen and (min-width: 992px) { 
    .banner-overlay {
        padding-top: 312px; /*312 473px*/
        padding-bottom:30px; /*30 60px*/
    }
    .help{
        padding-top: 100px;
        padding-bottom: 160px;
    }
    .newsletter{
        padding-top: 150px
    }
    .social-media-icons{
        padding-top: 150px;
    }
    /*modal*/
    .cd-close-form {
        display: none;
    }    
} 


